@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.content{
  max-height: 100%;
  background-color: rgba(255, 255, 255, 0.707);
  display: block;
}
.aa{
  display: block;
  margin-top:40px;
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
  color:black;
}

section {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(3, 10fr);
  grid-template-rows: auto;
  margin-left: 20%;
}

.cards {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  padding: 15px;
  margin-top: 40px;
  }



.image_box img {
  border-radius: 10px;
  width: 200px;
  height: 200px;
}


.details p:nth-child(1) {
  margin: 0 auto;
  font-weight:lighter;
  color: rgb(0, 0, 0);
}
.details p:nth-child(2) {
  color: rgb(0, 0, 0);
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 1.1rem;
  font-weight: bold;
}

.details button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: skyblue;
  outline: none;
  border-radius: 10px;
}

.dropdowns{
  border-radius: 10px;
  position: absolute;
  float: left;
  margin-left: 50px;
  top: 20vh;
  /* display: block;
  float: right; */
}
.filtro{
  margin-top: 50px;
  margin-bottom: 0px;
}
.filtroo{
  margin-left: 10px;
  float: left;
}

.dropdown1{
  width: 10px;
}

.dropdown-btn{
  border-radius: 10px;
}