@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  margin-right: 150px;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 21vh;
}
.nav__brand {
  text-transform: uppercase;
}





