.cards_profile {
    background-color: #ADDBD0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    column-gap: 10rem;
    row-gap: 3rem;
    left: 20vh;
    position: relative;
    perspective: 1000px;
    border-radius: 10px;
    padding: 15px;
    margin-top: 40px;
    width: 250px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 600px;
    transition: 0.3s;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: 2rem;
    background-color: #ffffff;
}

.container {
    padding: 2px 16px;
    text-align: center;
    padding-bottom: 20px;
}

#avatarImage {
    border-radius: 5px 5px 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 30px;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.buttonStyle {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonStyle2 {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */


/* .card:hover .flip-card-inner {
    transform: rotateY(180deg);
} */

.animation {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    background-color: white;
    color: black;
}


/* Style the back side */

.flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
}